body {
  font-family: "Kanit", sans-serif;
}

h1 {
  font-size: 24px;
  color: #3f4961;
  padding-left: 20px;
  font-weight: lighter;
  line-height: 30px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 10px;
}

li {
  list-style: none;
  display: block;
  font-size: 15px;
  color: #3f4961;
  text-transform: capitalize;
  font-weight: 100;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

h5 {
  font-size: 14px;
  font-weight: 400px;
}

footer {
  text-align: center;
  bottom: 0px;
  padding: 10px;
  opacity: 0.4;
}

.app {
  max-width: 600px;
  margin: 20px auto;
  padding: 40px;
  border: 2px solid #93969c;
  border-radius: 15px;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

.temp {
  padding-left: 30px;
  font-size: 40px;
  color: white;
  line-height: 1;
  font-weight: lighter;
}

.units .active {
  color: #3f4961;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.main-icon {
  position: relative;
  top: -20px;
  right: -30px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -20px;
  padding-right: 20px;
}

.conditions {
  position: relative;
  right: -60px;
}

.forecast {
  text-align: center;
  max-width: 700px;
  font-weight: lighter;
  color: #3f4961;
  padding: 10px 10px;
  border: 2px solid #a3bded;
  margin-top: 15px;
}

.col-2 {
  border: 1px solid #a3bded;
  padding: 20px 10px 10px 10px;
  margin: 0 auto;
}

.forecast-button {
  margin-top: 10px;
}

.bold {
  color: #3f4961;
  font-size: 16px;
}
